.bottom-container {
    width: 100%;
}

.row {
    margin: 0 !important;
}

.search-card {
    width: 100%;
    height: 125px;
    background-color: #fff;
    position: relative;
}

.search-item {
    width: 100%;
    height: 125px;
    padding: 20px 15px;
    background-color: #fff;
    position: relative;
}

.search-item::after {
    position: absolute;
    content: "";
    display: block;
    margin: 0 auto;
    width: 97%;
    border-bottom: 1px solid #ccc;
    left: 0;
    right: 0;
    bottom: 0;
}

.last-child::after {
    position: absolute;
    content: "";
    display: block;
    margin: 0 auto;
    width: 97%;
    border-bottom: 1px solid #fff;
    left: 0;
    right: 0;
    bottom: 0;
}

.yt-cover {
    width: 150px;
    cursor: pointer;
    overflow: hidden;
}

.yt-cover img {
    width: 100%;
    margin: -9% auto;
}

.yt-details {
    flex: 5;
    margin-left: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.track-meta {
    flex: 1;
}

.yt-artist {
    font-weight: bold;
    margin-bottom: 0.25rem;
    cursor: pointer;
}

.yt-channel {
    font-size: 12px;
}

.yt-channel-link {
    margin-right: 1rem;
}

.yt-published {
    font-weight: bolder;
}

.large img {
    width: 50px;
    border-radius: 50%;
}
