<!-- <div class="ui divided items playlist-container">
    <div
        *ngFor="let video of videos"
        class="item"
        style="padding: 20px 15px !important"
    >
        <div
            class="image"
            style="width: 100px;"
        >
            <img [src]="video.thumbnail">
        </div>

        <div class="content">
            <span
                class="date text-white"
                style="font-weight: bolder;"
            >
                <a style="padding: 1em 0 2em 0;">{{ video.title }}</a>
            </span>
            <div class="meta">

                <a
                    [href]="video.channelUrl"
                    target="_blank"
                    class="ui secondary text-white"
                >{{ video.channelTitle }}</a>

                <span
                    class="ui date"
                    style="font-weight: bolder;"
                >{{ video.publishedAt | date:'mediumDate' }}</span>
            </div>


            <button
                (click)="add(video.videoId, video.title);"
                class="ui right floated tiny red right labeled icon button"
            >
                <i class="external alternate icon"></i>
                Watch
            </button>
        </div>

    </div>
</div> -->



<div class="row">
    <div class="bottom-container">
        <div
            class="search-card"
            *ngFor="let video of videos; let last = last"
            [ngClass]="{'last-child': last}"
        >

            <div class="search-item d-flex">
                <div
                    class="yt-cover"
                    (click)="add(video.videoId, video.title);"
                >
                    <img
                        [src]="video.thumbnail"
                        alt=""
                        class="yt-thumbnail"
                    >
                </div>
                <div class="yt-details">
                    <div class="track-info d-flex">
                        <div class="track-meta">
                            <div
                                class="yt-artist"
                                (click)="add(video.videoId, video.title);"
                            >{{ video.title }}</div>
                            <div class="yt-channel">
                                <a
                                    [href]="video.videoUrl"
                                    target="_blank"
                                    class="yt-channel-link"
                                >
                                    {{video.channelTitle}}
                                </a>
                                <span class="yt-published">
                                    {{ video.publishedAt | date:'mediumDate' }}</span>
                            </div>
                        </div>
                        <div
                            class="yt-add-to-playlist large"
                            style="cursor:pointer;"
                        >

                            <img
                                src="../assets/svg/add-to-playlist.svg"
                                (click)="add(video.videoId, video.title);"
                            >
                        </div>
                    </div>
                    <div class="yt-metadata">{{video.duration}}</div>
                </div>
            </div>

        </div>
    </div>
</div>
