.container {
    background-color: #d6cdc4 !important;
    height: 100%;
    width: 100vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.row {
    margin: 0 !important;
}

.top-container {
    background-color: #bcac9db7;
    height: 500px;
    width: 100%;
    position: relative;
    background-image: url(src/assets/kendrick.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-y: 50px;
    background-position-x: center;
}

.player {
    height: 100%;
}

.bg1 {
    content: "";
    background: url(src/assets/svg/wave2.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.bg2 {
    content: "";
    background: url(src/assets/svg/wave1.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.bg3 {
    content: "";
    background: url(src/assets/svg/wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.artist-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-left: 5rem;
    z-index: 2;
}

.artist-name {
    width: 200px;
    line-height: 2.3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.artist-title {
    font-size: 1rem;
    font-weight: 500;
}

.progress {
    height: 0.2rem !important;
    width: 250px;
}

.tiny img {
    width: 16px;
    margin: 0 .75rem;
}

.small img {
    width: 22px;
    margin: 0 .75rem;
}

.medium img {
    width: 42px;
    margin: 0 .75rem;
}
