<div
  class="ui centered grid"
  style="margin-top: 3rem;"
>
  <div class="fourteen wide column">
    <h1 class="ui centered aligned header">
      <span
        style="vertical-align: middle;"
        class="text-white"
      >Get the party started </span>
      <img
        class="tiny"
        src="/assets/yt.png"
        alt=""
        style="width: 2.5rem"
      >
    </h1>
  </div>
</div>

<div class="ui container two column divided grid">
  <div class="stretched row">
    <div class="column six wide">
      <div class="ui segment">
        1
      </div>
    </div>
    <div class="column ten wide">

      <app-search-container></app-search-container>


      <div class="ui segment">

      </div>
    </div>

  </div>
</div>
