<youtube-player
    videoId="dQw4w9WgXcQ"
    height="320px"
    width="320px"
    class="centered"
></youtube-player>

<div class="ui divided items playlist-container">
    <div
        *ngFor="let track of tracks"
        class="item"
        style="padding: 20px 15px !important"
    >
        <!-- <div
            class="image"
            style="width: 100px;"
        >
            <img [src]="video.thumbnail">
        </div> -->
        <div class="content">
            <span
                class="date"
                style="font-weight: bolder;"
            >
                <a style="padding: 1em 0 2em 0;">{{ track.title }}</a>

            </span>
            <!-- <div class="meta">

                <a
                    [href]="video.channelUrl"
                    target="_blank"
                    class="ui secondary text-white"
                >{{ video.channelTitle }}</a>

                <span
                    class="ui date"
                    style="font-weight: bolder;"
                >{{ video.publishedAt | date:'mediumDate' }}</span>
            </div>


            <button
                (click)="add(video.videoId, video.title)"
                class="ui right floated tiny red right labeled icon button"
            >
                <i class="external alternate icon"></i>
                Watch
            </button>
        </div> -->

        </div>
    </div>
