<div
    class="separator"
    *ngIf="tracks?.length"
>Coming up next</div>


<div
    *ngFor="let track of tracks; index as i"
    class="row playlist-item-container m-0"
>


    <div class="track">
        <div class="track-cover">
            <img
                src="{{track.thumbnail}}"
                alt=""
            >
        </div>
        <div class="track-details">
            <div class="track-title">
                <div>{{track.title}}</div>
            </div>

            <div class="track-controller-bottom">
                <div class="duration">
                    {{track.duration}}
                </div>
                <div
                    class="remove-track"
                    (click)="trackService.removeTrack(i)"
                >
                    <img
                        src="../../assets/svg/delete.svg"
                        alt=""
                    >
                </div>
            </div>
        </div>
    </div>
</div>
